input {
  border: 1px solid #d3d3d3;
}
/*.ticket_options label {
  display: block;
}*/
.column input {
  width: 400px;
  margin-bottom: 10px;
}
.column_1 {
  float: left;
  margin-right: 20px;
}

.results-well {
  overflow: scroll;
}
.no_wrap {
  white-space: nowrap;
}
