input {
  border: 1px solid #d3d3d3;
}

.column input {
  width: 400px;
  margin-bottom: 10px;
}
.column_1 {
  float: left;
  margin-right: 20px;
}

.results-well {
  overflow: scroll;
}
.no_wrap {
  white-space: nowrap;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-bottom: 4px;
}

a.pull-right {
  margin-top: 10px;
}

a.pull-right.btn {
  margin-top: 0px;
}
